<h1 class = "text-center text-shadow mt-3">EDIT USER PROFILE</h1>
<%= render 'form' %>

<% if current_user %>
  <%= link_to "Delete Account", user_path(current_user), class: "text-danger", method: :delete, 
  data: { confirm: "WARNING: Deleting your account will also delete all articles associated with your account.  Once this is done, it cannot be undone.  Are you sure you want to continue?" } %>
<% end %>