<% if obj.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <% if obj == @article %>
      <h4 class="alert-heading">The following errors prevented the article from being saved:</h4>
    <% elsif obj == @user %>
      <% if params[:action] == "new" || params[:action] == "create" %>
        <h4 class="alert-heading">The following errors prevented the user from being created:</h4>
      <% elsif params[:action] == "edit" || params[:action] == "update" %>
        <h4 class="alert-heading">The following errors prevented the profile from being updated:</h4>
      <% end %>
    <% elsif obj == @category %>
      <h4 class="alert-heading">The following errors prevented the category from being created:</h4>
    <% end %>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>