@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black  !important;
}

/** other colors I liked - #7fbf47 #6fbf47 **/

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: lightgreen !important;
}

.navbar-brand:hover {
  color: lightgreen !important;
}

.jumbotron {
  background-image: asset-url('jumbo-photo-2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

#logo {
  color: #fff;
  font-weight: bold;
  /** float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px; **/
}

#home-container {
  margin-top: 25px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background: linear-gradient(to right, #4c9c57, #c9fdcc);
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: mintcream;
  padding-top: 56px;
}

// .carousel-inner > .item > img {
//   width:100px;
//   height:80px;
// }

.carousel {
  padding-top: 16px;
  padding-bottom: 32px;
  margin: 0 auto;
  width:640px;
  height:360px;
}

#welcome {
  position: top center;
}

#card-background {
  background-color: whitesmoke;
}
